@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;500;600&display=swap');

:root {
  --pf-v5-global--FontFamily--text: 'IBM Plex Sans', sans-serif;
  --pf-v5-global--FontFamily--heading: 'IBM Plex Sans', sans-serif;
  --pf-v5-global--primary-color--100: #2F5D50;
  --pf-v5-global--primary-color--200: #3E7A69;
  --pf-v5-global--BackgroundColor--100: #FAFAF9;

  --keycloak-card-top-color: #2F5D50;
  --keycloak-logo-url: url('../img/bridgepay-logo.svg');
  --keycloak-bg-logo-url: none;
}
